[submodule "deps/unity"]
	path = deps/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
	branch = master
[submodule "deps/ion"]
	path = deps/ion
	url = https://github.com/nasa-jpl/ION-DTN.git
[submodule "deps/mlib"]
	path = deps/mlib
	url = https://github.com/P-p-H-d/mlib.git
	branch = master
[submodule "deps/QCBOR"]
	path = deps/QCBOR
	url = https://github.com/laurencelundblade/QCBOR.git
	branch = master
[submodule "deps/osal"]
	path = deps/osal
	url = https://github.com/nasa/osal.git
	branch = main
