[submodule "deps/unity"]
	path = deps/unity
	url = ../unity.git
	branch = master
[submodule "deps/ion"]
	path = deps/ion
	url = ../ion-sf.git
	branch = stable
[submodule "deps/mlib"]
	path = deps/mlib
	url = ../mlib.git
	branch = master
[submodule "deps/QCBOR"]
	path = deps/QCBOR
	url = ../QCBOR.git
	branch = master
[submodule "deps/osal"]
	path = deps/osal
	url = ../osal.git
	branch = main
