[Unit]
Description=ION NM Agent
After=network-online.target ion.service ion-nm-mgr.service
Wants=network-online.target ion-nm-mgr.service
Requires=ion.service

[Service]
Type=notify
PassEnvironment=ION_NODE_NUM MGR_NODE_NUM
EnvironmentFile=-/etc/ion/environment
ExecStart=ion_nm_agent ipn:${ION_NODE_NUM}.6 ipn:${MGR_NODE_NUM}.7
# workaround for OSAL blocking SIGTERM
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
