[Unit]
Description=ION NM Manager
After=network-online.target ion.service
Wants=network-online.target
Requires=ion.service

[Service]
Type=notify
PassEnvironment=ION_NODE_NUM
EnvironmentFile=-/etc/ion/environment
ExecStart=ion_nm_wrap --listen /var/run/nm_mgr.socket -- \
    nm_mgr -A ipn:${ION_NODE_NUM}.7

[Install]
WantedBy=multi-user.target

