[Unit]
Description=REFDA with unix datagram socket transport
After=network-online.target refdm-socket.service
Wants=network-online.target

[Service]
Type=notify
PassEnvironment=DTNMA_LOGLEVEL REFDA_SOCKET REFDM_SOCKET
EnvironmentFile=-/etc/environment
ExecStart=refda-socket -l ${DTNMA_LOGLEVEL} -s /etc/refda/startup.uri -a file:${REFDA_SOCKET} -m file:${REFDM_SOCKET}

[Install]
WantedBy=multi-user.target
