[Unit]
Description=REFDA with unix datagram socket transport
After=network-online.target refdm-socket.service
Wants=network-online.target

[Service]
Type=notify
PassEnvironment=DTNMA_LOGLEVEL REFDA_SOCKET REFDM_SOCKET
EnvironmentFile=-/etc/environment
ExecStart=refda-socket -l ${DTNMA_LOGLEVEL} -a ${REFDA_SOCKET} -m ${REFDM_SOCKET}

[Install]
WantedBy=multi-user.target
