[Unit]
Description=REFDM with unix datagram socket transport
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
PassEnvironment=DTNMA_LOGLEVEL REFDM_SOCKET \
    DB_HOST DB_USER DB_PASSWORD DB_NAME
EnvironmentFile=-/etc/environment
ExecStart=refdm-socket -l ${DTNMA_LOGLEVEL} -a file:${REFDM_SOCKET}

[Install]
WantedBy=multi-user.target
