[Unit]
Description=REFDA with ION BP transport
After=network-online.target ion.service ion-nm-mgr.service
Wants=network-online.target
Requires=ion.service

[Service]
Type=notify
PassEnvironment=DTNMA_LOGLEVEL ION_NODE_NUM MGR_NODE_NUM
EnvironmentFile=-/etc/environment
ExecStart=refda-ion -l ${DTNMA_LOGLEVEL} -s /etc/refda/startup.uri -a ipn:${ION_NODE_NUM}.6 -m ipn:${MGR_NODE_NUM}.7

[Install]
WantedBy=multi-user.target
