##
## Copyright (c) 2011-2025 The Johns Hopkins University Applied Physics
## Laboratory LLC.
##
## This file is part of the Delay-Tolerant Networking Management
## Architecture (DTNMA) Tools package.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##     http://www.apache.org/licenses/LICENSE-2.0
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.
##
name: Build and run tests
on:
  schedule:
    - cron: '0 0 * * 0'
  push:
    branches:
      - main
      - 'apl-fy[0-9][0-9]'
  pull_request: {} # any target

jobs:
  unit-test:
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-22.04', 'ubuntu-24.04', 'centos-9']
        compiler: ['gcc']
        deps: ['full', 'minimal']
    name: Unit Test (${{matrix.os}} ${{matrix.compiler}} deps=${{matrix.deps}})
    runs-on: ${{ matrix.os == 'centos-9' && 'ubuntu-24.04' || matrix.os }}
    container: ${{ matrix.os == 'centos-9' && 'quay.io/centos/centos:stream9' || null }}
    permissions:
      contents: read
      actions: write
    env:
      CC: ${{matrix.compiler=='clang' && 'clang' || 'gcc'}}
      CXX: ${{matrix.compiler=='clang' && 'clang++' || 'g++'}}
    steps:
      - name: Set up OS
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo apt-get update
          sudo apt-get install -y \
              cmake ninja-build \
              ruby pkg-config gcc g++ ccache patch autoconf libtool \
              ${{matrix.compiler=='clang' && 'clang llvm' || ''}} \
              ${{matrix.deps=='full' && 'flex libfl-dev bison civetweb libcivetweb-dev libssl-dev libcjson-dev libsystemd-dev libpq-dev' || ''}} libpcre2-dev \
              valgrind gcovr xmlstarlet
      - name: Set up OS
        if: startsWith(matrix.os, 'centos')
        run: |
          dnf install -y epel-release
          crb enable
          dnf install -y \
              git rsync \
              cmake ninja-build \
              ruby pkg-config gcc gcc-c++ ccache patch autoconf libtool \
              ${{matrix.compiler=='clang' && 'clang llvm' || ''}} \
              ${{matrix.deps=='full' && 'flex libfl-static bison civetweb civetweb-devel openssl-devel cjson-devel systemd-devel libpq-devel' || ''}} pcre2-devel \
              valgrind xmlstarlet python3-pip
          pip3 install gcovr
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          create-symlink: true
      - name: Dependencies
        env:
          DEPS_BUILD_ION: ${{matrix.deps=='full' && '1' || '0'}}
        run: ./deps.sh
      - name: Prep
        run: >
          ./prep.sh 
          -DBUILD_DOCS_API=OFF -DBUILD_DOCS_MAN=OFF
          -DBUILD_UNITTEST=ON
          -DARI_TEXT_PARSE=${{matrix.deps=='full' && 'ON' || 'OFF'}}
          -DBUILD_ION_PROXY=${{matrix.deps=='full' && 'ON' || 'OFF'}}
          -DTRANSPORT_ION_BP=${{matrix.deps=='full' && 'ON' || 'OFF'}}
          -DBUILD_COVERAGE=${{matrix.os != 'ubuntu-22.04' && 'ON' || 'OFF'}}
          -DTEST_MEMCHECK=${{matrix.os != 'ubuntu-22.04' && 'ON' || 'OFF'}}
      - name: Build
        run: ./build.sh
      - name: Install
        run: ./build.sh install
      - name: Check symbols
        run: ./check_symbols.py cace refda refdm
      - name: Test
        run: ./build.sh check
      - name: Collect coverage
        if: matrix.os != 'ubuntu-22.04'
        run: ./build.sh coverage
      - name: Archive coverage
        if: matrix.os != 'ubuntu-22.04'
        uses: actions/upload-artifact@v4
        with:
          name: ${{github.job}}-${{matrix.os}}-${{matrix.compiler}}-${{matrix.deps}}-coverage
          path: build/default/coverage*
      - name: Report coverage
        if: matrix.os != 'ubuntu-22.04'
        run: ./build.sh coverage-summary >> $GITHUB_STEP_SUMMARY

  item-test:
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-24.04', 'centos-9']
    name: Built-Item Test (${{matrix.os}} gcc)
    runs-on: ubuntu-24.04
    container: ${{ matrix.os == 'centos-9' && 'quay.io/centos/centos:stream9' || 'ubuntu:24.04' }}
    services:
      postgres:
        # Docker Hub image
        image: postgres:16
        env:
          POSTGRES_USER: tester
          POSTGRES_PASSWORD: tester
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    permissions:
      contents: read
      actions: write
    steps:
      - name: Set up OS
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          apt-get update
          apt-get install -y \
              git rsync \
              cmake ninja-build \
              ruby pkg-config gcc g++ ccache patch autoconf libtool \
              flex libfl-dev bison libpcre2-dev civetweb libcivetweb-dev libssl-dev libcjson-dev libsystemd-dev libpq-dev \
              binutils \
              valgrind gcovr xmlstarlet \
              python3-pip python3-wheel python3-venv postgresql-client
      - name: Set up OS
        if: startsWith(matrix.os, 'centos')
        run: |
          dnf install -y epel-release
          crb enable
          dnf install -y \
              git rsync \
              cmake ninja-build \
              ruby pkg-config gcc gcc-c++ ccache patch autoconf libtool \
              flex libfl-static bison pcre2-devel civetweb civetweb-devel openssl-devel cjson-devel systemd-devel libpq-devel \
              binutils \
              valgrind xmlstarlet \
              python3-pip python3-wheel python3-devel postgresql
          pip3 install gcovr
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          create-symlink: true
      - name: Dependencies
        env:
          DEPS_BUILD_ION: '0'
        run: ./deps.sh
      - name: Prep
        run: >
          ./prep.sh
          -DBUILD_DOCS_API=OFF -DBUILD_DOCS_MAN=OFF
          -DBUILD_UNITTEST=OFF
          -DBUILD_COVERAGE=ON
          -DBUILD_ION_PROXY=OFF
          -DTRANSPORT_ION_BP=OFF
      - name: Build
        run: ./build.sh
      - name: Install
        run: ./build.sh install
      - name: System Path
        if: matrix.os == 'ubuntu-24.04'
        run: echo "/usr/lib/postgresql/16/bin" >>$GITHUB_PATH
      - name: Test
        env:
          TEST_MEMCHECK: '1'
          TEST_LOG_LEVEL: 'info'
          DB_HOST: 'postgres'
          DB_USER: 'tester'
          DB_PASSWORD: 'tester'
        run: ./item-test/run.sh
      - name: Collect coverage
        run: ./build.sh coverage
      - name: Archive coverage
        uses: actions/upload-artifact@v4
        with:
          name: ${{github.job}}-${{matrix.os}}-gcc-coverage
          path: build/default/coverage*
      - name: Report coverage
        run: ./build.sh coverage-summary >> $GITHUB_STEP_SUMMARY

  integration-test:
    strategy:
      fail-fast: false
      matrix:
        transport: ['ion', 'proxy']
    name: Integration Test (${{matrix.transport}})
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Start
        run: ./integration-test-${{matrix.transport}}/run.sh start
      - name: Test
        run: ./integration-test-${{matrix.transport}}/run.sh check
      - name: Stop
        if: always()
        run: ./integration-test-${{matrix.transport}}/run.sh stop
